:root {
    --primary-color: #b1eaf5;
    --secondary-color: #011936;
    --accent1-color: #011936;
    --accent2-color: #B4A0E5;
    --accent3-color: #3d095e;
    --heading-font: "Caveat", sans-serif;
    --body-font: "Lato", sans-serif;
}


header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    z-index: 1;
}

.header-container {
    display: grid;
    grid-template-columns: 10% 20% 20% 35% auto;
    grid-template-rows: 15px 1fr 15px;
    gap: 10px;
}

.logo {
    grid-column-start: 2;
    grid-row-start: 2;
}

.nav-elements {
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #B4A0E5;
}

.history {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: 20px;
}

.history-title {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
}

.history-image {
    grid-column-start: 2;
    grid-column-end: 3;
}

.adventure-images-header {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
}

.adventure-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.adv-img-1 {

}

.adv-img-2 {

}
.adv-img-3 {

}
.adv-img-4 {

}
.adv-img-5 {

}

.adv-cap-1 {
    grid-row-start: 2;
}

.adv-cap-2 {
    grid-row-start: 2;
}
.adv-cap-3 {
    grid-row-start: 2;
}
.adv-cap-4 {
    grid-row-start: 2;
}
.adv-cap-5 {
    grid-row-start: 2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 100px;
    padding: 10px;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent3-color);
    color: #011936;
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia {
    display: flex;
    justify-content: end;
}

.copyright {
    display: flex;
    justify-content: center;
}
