nav {
    background-color: darkblue;
    padding: 10 px;
}

nav a {
    color: whie;
    display: block;
    padding: 20px;
}

main{
    max-width: 1000px;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 2px solid rgb(128,0,128);
    padding: 1rem;
    background-color: rgb(127,255,212);
    color: rgb(0,0,255);
}

aside img{
    width: 200px;
    height: auto;
}

h1{
    color: rgb(0,0,139);
}

main img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer{
    margin-top: 1px;
    border-top: 1px rgb(128,0,128);
    align-content: center;
}