nav {
    background-color: darkblue;
    padding: 10 px;
}

nav a {
    color: whie;
    display: block;
    padding: 20px;
}

main{
    max-width: 1000px;
}
body{.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
}
h1{
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 2px solid purple;
    padding: 1rem;
    background-color:aquamarine;
    color:blue;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin: 1px;
    border-top: 1px purple;
    align-content: center;
}
